<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <router-link tag="li" to="/" exact><a>Dashboard</a></router-link>
            <router-link tag="li" to="/profile"><a>Profile</a></router-link>
        </ul>
    </div>
</div>