<% include ../partials/header %>
   
   <nav class="nav">
    <div class="nav-left">
        <a class="nav-item" href="/">Spectator</a>
    </div>

    <span class="nav-toggle" id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>

    <div class="nav-right nav-menu" id="nav-menu">
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/register">Register</a>
    </div>
   </nav>

<% include ../partials/footer %>