<% include ./partials/header %>
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <% include ./partials/navbar %>
    <div id="spectatorApp">
        <div class="container-fluid">
            <% include ./partials/appSideNav %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <router-view></router-view>
            </div>
        </div>
    </div>
        
<% include ./partials/footer %>